body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color-light);
}

/* CSS */
:root {
    --primary-color-light: #fff2df;
    --primary-color-dark: #634780;
    --secondary-color-light: #8d9292;
    --secondary-color-dark: #27382e;
}

[data-bs-theme="light"] {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
}

[data-bs-theme="dark"] {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
}

.nav-link {
    color: rgb(199, 56, 255); 
  }
  

  .bi {
    width: 60px;
    height: 60px; 
  }

  .btn-purple {
    color: #FFFFFF; 
    background-color: #634780; 
    border-color: #634780; 
}

.text-light {
    background-color:#64636671 ; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); 
    color: white; 
}